:root {
  --main-color: #3c628c;
  --background-color: #e3e8f2;
}

.App {
  background-color: var(--background-color);
  padding-top: 25px;
  height: 110vh;
}
.Weather {
  max-width: 680px;
  margin: 0 auto;
  color: #fff;
  background-color: var(--main-color);
  padding: 20px 30px;
  border-radius: 20px;
}
.Weather form {
  position: relative;
}
.Weather form input {
  border: 2px solid #ced4da;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 14px;
}
.Weather form input:focus {
  outline: none;
}

.Weather form button {
  position: absolute;
  right: 5px;
  top: 3px;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 18px;
}
.DisplayWeatherInfo h1 {
  font-size: 36px;
  font-weight: 500;
}
.DisplayWeatherInfo h2 {
  font-size: 32px;
}
.DisplayWeatherInfo h2 .unit {
  font-size: 18px;
  position: absolute;
}
.DisplayWeatherInfo h3 {
  font-size: 20px;
  font-weight: 100;
}
.DisplayWeatherInfo ul {
  list-style: none;
  margin: 0 60px;
  padding: 20px;
  font-size: 18px;
}
.DisplayWeatherInfo ul li .unit {
  font-size: 12px;
  position: absolute;
}
.WeatherForecast {
  margin: 20px;
}
.WeatherForecastItem {
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.forecastDay {
  font-size: 20px;
  font-weight: 400;
}
.highestTemp,
.lowestTemp {
  font-size: 18px;
  font-weight: 100;
}
.lowestTemp {
  opacity: 0.5;
}
